<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurant-app</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!_authService.loggedIn()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.loggedIn()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="_authService.loggedIn()">
          <a class="nav-link" routerLink="/events" routerLinkActive="active" (click)="_authService.logoutUserService()">Logout</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
         </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<hr>

<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
<h6 class="">Start</h6>
<p class="">"cd server" "node server"</p>
<p class="">"cd ../dbApp" "ng serve"</p>